In [1]:
import pandas as pd
df = pd.read_csv("Data/survey_results_public.csv", index_col='Respondent')
df

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [2]:
### getting median salary
df['ConvertedComp'].median()

57287.0

In [3]:
# broad overview of different metrics on the dataset
df.describe() # automatically finds the numerical columns and calculates on it

          CompTotal  ConvertedComp   WorkWeekHrs    CodeRevHrs           Age
count  5.594500e+04   5.582300e+04  64503.000000  49790.000000  79210.000000
mean   5.519014e+11   1.271107e+05     42.127197      5.084308     30.336699
std    7.331926e+13   2.841523e+05     37.287610      5.513931      9.178390
min    0.000000e+00   0.000000e+00      1.000000      0.000000      1.000000
25%    2.000000e+04   2.577750e+04     40.000000      2.000000     24.000000
50%    6.200000e+04   5.728700e+04     40.000000      4.000000     29.000000
75%    1.200000e+05   1.000000e+05     44.750000      6.000000     35.000000
max    1.000000e+16   2.000000e+06   4850.000000     99.000000     99.000000

In [4]:
## getting number of repetation of each value on a column
df['Hobbyist'].value_counts()

Hobbyist
Yes    71257
No     17626
Name: count, dtype: int64

In [5]:
# getting percentage of each value
df['Hobbyist'].value_counts(normalize=True)

Hobbyist
Yes    0.801694
No     0.198306
Name: proportion, dtype: float64

## Group By
Split -----> Apply Function ------> Combine Results

In [6]:
# Splitting according to country
country_grp = df.groupby(['Country'])
country_grp

In [7]:
## getting a particular group 
country_grp.get_group("India").head(5)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult
15,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,20.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
50,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",Received on-the-job training in software devel...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,23.0,Man,No,NaN,South Asian,No,Too long,Easy
65,I am a developer by profession,Yes,Never,NaN,Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",NaN,...,A lot more welcome now than last year,NaN,21.0,Man,No,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult

## Working with groups

https://pandas.pydata.org/docs/reference/groupby.html

In [8]:
## getting social media use count per country
country_grp['SocialMedia'].value_counts().loc["India"]

SocialMedia
WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: count, dtype: int64

In [9]:
### calculating median for each group
country_grp['ConvertedComp'].median()

Country
Afghanistan                               6222.0
Albania                                  10818.0
Algeria                                   7878.0
Andorra                                 160931.0
Angola                                    7764.0
                                          ...
Venezuela, Bolivarian Republic of...      6384.0
Viet Nam                                 11892.0
Yemen                                    11940.0
Zambia                                    5040.0
Zimbabwe                                 19200.0
Name: ConvertedComp, Length: 179, dtype: float64

In [10]:
## Mean and median for each country
country_grp['ConvertedComp'].agg(["mean", "median"])

                                               mean    median
Country
Afghanistan                           101953.333333    6222.0
Albania                                21833.700000   10818.0
Algeria                                34924.047619    7878.0
Andorra                               160931.000000  160931.0
Angola                                  7764.000000    7764.0
...                                             ...       ...
Venezuela, Bolivarian Republic of...   14581.627907    6384.0
Viet Nam                               17233.436782   11892.0
Yemen                                  16909.166667   11940.0
Zambia                                 10075.375000    5040.0
Zimbabwe                               34046.666667   19200.0

[179 rows x 2 columns]

## How many developers know python from india ?

In [11]:
### First using the filters
filt = df.loc[df["Country"]=="India"]["LanguageWorkedWith"].str.contains('Python').sum()

In [12]:
filt

3105

In [17]:
# Using group by object
#def contains_text
country_grp["LanguageWorkedWith"].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [21]:
### or this can be done with a custom function
def worked_python(grp):
    return grp.str.contains("Python").sum()
country_grp["LanguageWorkedWith"].apply(worked_python)

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

## Getting percentage of people who knows python

In [25]:
total_respondents = country_grp["LanguageWorkedWith"].count()
total_respondents

Country
Afghanistan                              39
Albania                                  83
Algeria                                 126
Andorra                                   7
Angola                                    4
                                       ...
Venezuela, Bolivarian Republic of...     87
Viet Nam                                220
Yemen                                    17
Zambia                                   12
Zimbabwe                                 39
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [27]:
worked_with_python = country_grp["LanguageWorkedWith"].apply(lambda x: x.str.contains("Python").sum())
worked_with_python

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [32]:
df_comb = pd.concat([total_respondents, worked_with_python], axis="columns")

In [33]:
df_comb

                                      LanguageWorkedWith  LanguageWorkedWith
Country
Afghanistan                                           39                   8
Albania                                               83                  23
Algeria                                              126                  40
Andorra                                                7                   0
Angola                                                 4                   2
...                                                  ...                 ...
Venezuela, Bolivarian Republic of...                  87                  28
Viet Nam                                             220                  78
Yemen                                                 17                   3
Zambia                                                12                   4
Zimbabwe                                              39                  14

[179 rows x 2 columns]

In [41]:
df_comb.columns= ["Total Respondents", "Worked With Python"]
df_comb

                                      Total Respondents  Worked With Python
Country
Afghanistan                                          39                   8
Albania                                              83                  23
Algeria                                             126                  40
Andorra                                               7                   0
Angola                                                4                   2
...                                                 ...                 ...
Venezuela, Bolivarian Republic of...                 87                  28
Viet Nam                                            220                  78
Yemen                                                17                   3
Zambia                                               12                   4
Zimbabwe                                             39                  14

[179 rows x 2 columns]

In [44]:
df_comb["Python Percent"]= (df_comb["Worked With Python"]/df_comb["Total Respondents"])*100

In [46]:
df_comb.sort_values(by="Python Percent", ascending=False)

                       Total Respondents  Worked With Python  Python Percent
Country
Sao Tome and Principe                  1                   1           100.0
Sierra Leone                           1                   1           100.0
Timor-Leste                            1                   1           100.0
Dominica                               1                   1           100.0
Niger                                  1                   1           100.0
...                                  ...                 ...             ...
Burkina Faso                           4                   0             0.0
Tajikistan                             6                   0             0.0
Tonga                                  1                   0             0.0
Djibouti                               1                   0             0.0
Liberia                                0                   0             NaN

[179 rows x 3 columns]